{% extends 'base.html'%}
{% load static %}
{% block "content"%}
<section class="bannerimg">
    <div class="py-5 text-center text-white">
        <p class="mt-3"><span class="border p-3 rounded "><a href="{%url 'home'%}" class="text-white">Home </a><img src="{%static 'images/leaf.png'%}" alt="" height="18" width="18"> News </span></p>
        <h1 class="mt-5 mb-3">Latest News</h1>
    </div>
</section>

<main class="container py-5">
    {% for article in news %}
     <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{article.image}}" class="w-100 rounded-start" alt="{{article.title}}" height="250px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.description}}</p>
        <p class="card-text"><small class="text-body-secondary">
            Published On: {{article.publishedAt | slice:"0:10"}} <br>
            Source: {{article.source.name}}
        </small></p>
        <a href="{{article.url}}" class="btn btn-dark bg-theme-dark rounded-pill p-2 px-3">Read Full Article</a>
    </div>
    </div>
  </div>
</div>
    {% empty %}
<div class="alert alert-light">
  <p>No News Found!</p>
</div>
{% endfor %}


<nav class='mt-5'>
<ul class="pagination w-25 m-auto">
{% if news.has_previous %}
  <li class="page-item"><a class="page-link text-dark" href='/news/?page=1'>&laquo</a></li>
  <li class="page-item"><a class="page-link text-dark" href='/news/?page={{news.previous_page_number}}'>Prev</a></li>
{% endif %}
<li class="page-item">
    <span class="page-link text-dark"> {{ news.number }} of {{ news.paginator.num_pages }}.</span>
</li>
{% if news.has_next %}
  <li class="page-item"><a class="page-link text-dark" href='/news/?page={{news.next_page_number}}'>Next</a></li>
  <li class="page-item"><a class="page-link text-dark" href="?page={{news.paginator.num_pages }}"> &raquo;</a></li>
{% endif %}
</nav>


</main>

{% endblock %}